.NeonButton
{
	position: relative;
	display: inline-block;
	padding: 15px 30px;
	margin: 20px;
	color: #00FF00;
	text-transform: uppercase;
	letter-spacing: 4px;
	text-decoration: none;
	font-size: 24px;
	overflow: hidden;
	transition: 0.2s;
}
.NeonButton:hover{color: #fff;background:#7CFC00; box-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 34px #00FF00,
      0 0 52px #00FF00;
      transition-delay: 0.2s; }
 .MyInfo-Right>a>span{
	position: absolute;
	display: block;
  }
 .MyInfo-Right>a>span:nth-child(1)
 {
 	top:0;
 	left: -100%;
 	width: 100%;
 	height: 2px;
 	background: linear-gradient(90deg,transparent,#7CFC00);
 	animation: animate1 1s linear infinite;
 }
 @keyframes animate1
 {
 	0%
 	{
 		left: -100%;
 	}
 	50%,100%{left: 100%;}
 }
 .MyInfo-Right>a>span:nth-child(2)
 {
 	top:-100%;
 	right:0;
 	width: 2px;
 	height: 100%;
 	background: linear-gradient(180deg,transparent,#7CFC00);
 	animation: animate2 1s linear infinite;
 	animation-delay: 0.25s; 
 }
 @keyframes animate2
 {
 	0%
 	{
 		top: -100%;
 	}
 	50%,100%{top: 100%;}
 }
 .MyInfo-Right>a>span:nth-child(3)
 {
 	bottom:0;
 	right: -100%;
 	width: 100%;
 	height: 2px;
 	background: linear-gradient(270deg,transparent,#7CFC00);
 	animation: animate3 1s linear infinite;
 	animation-delay: 0.5s; 
 }
 @keyframes animate3
 {
 	0%
 	{
 		right:-100%;
 	}
 	50%,100%{right:100%;}
 }
 .MyInfo-Right>a>span:nth-child(4)
 {
 	bottom:-100%;
 	left:0;
 	width: 2px;
 	height: 100%;
 	background: linear-gradient(360deg,transparent,#7CFC00);
 	animation: animate4 1s linear infinite;
 	animation-delay: 0.75s; 
 }
 @keyframes animate4
 {
 	0%
 	{
 		bottom:-100%;
 	}
 	50%,100%{bottom:100%;}
 }
