*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
body{font-family: "Vibur", sans-serif;
  background-color: #121212; color: white;}
.baner{min-height:100vh; width: 100%;}
.main{min-height: 100%;}
footer{height: 80px;padding: 50px 0;top:0;
 	left: 0;
 	margin-top: 5%;
 	width: 100%;
 	background: linear-gradient(90deg,transparent,#7CFC00);}
.sign-wrap-2 {
    background: #121212;
    text-align: center;
    padding: 60px 20px;
}
.sign-wrap-2 .sign_word {
    font-size: 40px;
    font-weight: bold;
    line-height: 50px;
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: uppercase;
    color: #fff;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #00FF00,
      0 0 82px #00FF00;
}
.baner>.Center-Section{width: 55%; margin: 141px auto 0 auto;}
.MyInfo-left{float: left; position: absolute;}
.MyInfo-left>img{border-radius: 300px; width: 300px; height:300px;}
.MyInfo-Right{float: right; width: 50%;text-align: center; text-shadow:
	  0 0 5px #00FF00;
      padding: 50px 0;
     }
.border{background:#fff; width: 70%;margin: 10px auto; padding: 1px;
box-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 34px #00FF00;
       }
      
      .border-40{background:#fff; width: 40%;margin: 10px auto; padding: 1px;box-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 34px #00FF00;
     }
  .About-Me
  { text-align: center;
   text-shadow:
	  0 0 5px #fff;
	}
	
 @media(max-width: 900px){
 	.MyInfo-left{padding: 50px 0;}
 	.MyInfo-left>img{width: 200px; height: 200px;}
    .contacts>.contacts-left{font-size: 14px;}
 	.contacts>.contacts-right{font-size: 14px;}
 	h1{
 		font-size: 20pt;
 	   }
 	}
 }
  @media(max-width: 700px){
 	.MyInfo-left{padding: 50px 0;}
 	.MyInfo-left>img{width: 100px; height: 100px;}
 	.contacts{width: 80%; margin: 141px auto 0 auto;}
 	.contacts>.contacts-left{font-size: 14px;}
 	.contacts>.contacts-right{font-size: 14px;}
    
 }
 @media(max-width: 500px){
 	.baner>.Center-Section{width: 90%; margin: 100px auto 0 auto;}
 	.MyInfo-left>img{width: 100px; height: 100px;}
 	.contacts{width: 100%; margin: 141px auto 0 auto;}
 	.contacts>.contacts-left{font-size: 10px;}
 	.contacts>.contacts-right{font-size: 10px;}
   h1{
 		font-size: 15pt;
 	   }
 }
 .social-network{width: 100%; text-align: center; margin-top: 3%;}
 .social-network>.content-sn>ul>li{display: inline-block; text-decoration: none;}
 .vk
 {
 	background-color: #fff;
 	border-radius: 100px;
   width: 100px;
   height: 100px;
 }
 .text-center{text-align: center;}
 .youtube{width: 140px; height: 100px;}

.MySkils>.skils-content>ul>li{display: inline-block; margin: 0 20px;}
.my-potfolio>ul>li>img{height: 250px; width: 250px; border-radius: 50px;}
.my-potfolio>ul>li{display: inline-block; margin:20px 20px;}
.Education>ul>li>img{height: 250px; width: 250px; border-radius: 50px;}
.Education>ul>li{display: inline-block; margin:20px 20px;}
.contacts{width: 60%; margin: 141px auto 0 auto;}
.contacts-left{ float: left; position: absolute; width: 30%;text-align: center;text-shadow:
	  0 0 5px #fff; font-size: 25px;}
.contacts-right{float: right; width: 60%;text-align: center; text-shadow:
	  0 0 5px #fff; font-size: 25px;}